*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    display: block;
}
ul{
    list-style-type: none;
}
.tongthe{
    background:#fff;
}
.thanhmenu ul li a{
    text-decoration: none;
    padding: 12px 15px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    background-color: transparent;
    color: #000;
    position: relative;
    top: 20px;
}
nav{
    display: block;
}
body{
    font-family: Open Sans;
    font-size: 13px;
    line-height: 1.42857;
    color: #000;
    background-color:#f4f4f4;
}
.tieude{
    width: 100%;
    height:70px;

}
/*******************cưa hàng và xe, *******************/
.product-action {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    z-index: -1;
    background: 0 0;
    width: 100%;
    text-align: center;
}
.margin-bottom-0 {
    margin-bottom: 0 !important;
}
.col .product-action .btn-cart {
    width: 40px;
    border-radius: 3px;
    height: 38px;
    padding: 0;
    line-height: initial;
    border:none;
}
.row .col:hover{
    opacity: 0.7;
    z-index:2;
}
.row .col:hover .product-action{
    display: block;
    z-index: 10;
    opacity: none;
}
.btn.btn-primary, input.btn-primary[type=submit] {
    background: #e32124;
    color: #fff;
}
.btn-cart:hover{
    background-color: rgb(52, 214, 88);
}
.col .product-action .quick-view{
    padding: 0;
    padding-top: 5px;
    text-align: center;
    width: 40px;
    border-radius: 3px;
    height: 38px;
    line-height: 30px;
}
.product-thumbnail a {
    display: inline-block;
}
.btn.btn-gray, input.btn-gray[type=submit] {
    background: #9e9e9e;
    color: #fff;
}
/*********************************************************/
.navbar-dark .navbar-brand {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    background-color: transparent;
    color: #000;
}
.navbar-dark .navbar-nav .nav-link {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    background-color: transparent;
    color: #000;
}
.navbar-dark .navbar-nav .nav-item{
    margin-left: 50px;
}
.navbar-dark .navbar-brand:hover{
    color:#ff9f00;
}
.navbar-dark .navbar-brand:focus{
    color: yellowgreen;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color:#ff9f00;
}
.navbar-dark .navbar-nav .nav-link:focus{
    color:yellowgreen;
}
.navbar-toggler{
    background-color: #000;
}
/********************/
.menuchinh{
    width: 100%;
    height:58px;
}
.menuchinh ul li a{
    text-decoration: none;
    color: black;
}
.menuchinh ul li{
    font-weight: 700;
    font-size:16px;
}
.dropdown-menu{
    margin-top:18px;
    border-top: none;
    width:200px;
}
.dropdown-menu a{
    padding:10px;
}
.dropdown-menu a:hover{
    border-left: 5px solid #ff9f00;
    font-size:14px;
}
.al{
    float: left;
}
.input{
    float: right;
}

.input #searchbox, .giohang,.dangnhap{
    display: inline-block;
    margin-top: -10px;
    padding-left: 10px;
    margin-right: 10px;
}
.input .input-group-addon{
    height: 57px;
    background-color: #fff;
}
input[type=search] {
    -webkit-appearance: none;
    box-sizing: border-box;
}
.navbar-expand-xl{
    margin-top: 95px;
    background-color:white;
}
.tieude img{
    max-height: 90px;
    max-width: 100%;
    vertical-align: middle;
    border:0;
}
.tieude{
    text-align: center;
    background-color: white;
    width: 100%;
    height: 95px;

}
.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
}
.main{
    margin-top: 165px;
}
.input-group-addon{
    color: #555;
    border: 1px solid #ccc;
    display: inline;
    line-height: 36px;
    background: #fafafa;
    border-color: #fff;
    border-radius: 0;
    box-shadow: none;
    font-size: 12px;
    font-weight: 400;
    outline: none;
}
form content #searchbox{
    position: absolute;
}
.giohang a{
        color: #000;
        text-decoration: none;
}
.giohang a{
    display:block;
}
.giohang{

    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    border-right: 1px solid #fff;
    height: 50px;
    line-height: 50px;
    font-size: 10px;
    position: relative;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.giohang a span{
    color: rgb(87, 85, 85);
    font-size: 11px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-right: 8px;
    -webkit-transition: color .3s cubic-bezier(.25,.46,.45,.94);
    transition: color .3s cubic-bezier(.25,.46,.45,.94);
}
.giohang a i{
    clear: both;
   
}
.dangnhap a{
    color: #000;
    text-decoration: none;
    padding-left: 10px;
    color: rgb(87, 85, 85);
    font-size: 11px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-right: 8px;
    -webkit-transition: color .3s cubic-bezier(.25,.46,.45,.94);
    transition: color .3s cubic-bezier(.25,.46,.45,.94);
}
.input .dangnhap a:hover{
    color:rgb(9, 2, 26);
}
/*************************/
.quangcao{
    width: 100%;
    height:669px;
}
.bf::before{
    content: "";
    clear: both;
    display: table;
}
.at::after{
    content: "";
    clear: both;
    display: table;
}
/*************************/
.sanpham{
    max-width: 1200px;
    width: 100%;
    
    margin: 0 auto;
    overflow: visible;
}
/*************************/
.noidung-sanpham{
    width: 100%;
   
    padding-bottom: 30px;
    border-bottom: 1px solid #ffffff;

}

.bf1::before{
    display: table;
    content: " ";
}
.at1::after{
    clear: both;
}
h1{
    color:#3f4b56;
    width: 100%;
    font-size: 18px;
    margin-bottom:15px;
    margin-top: 0;
    text-transform: uppercase;
    margin: .67em 0;
}
.product-title span {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    color: #f25720;
}
.product-title {
    text-align: center;
    background-color: white;
    border-radius: 7px 7px 0 0 ;
    padding:10px;
    margin-bottom: 3px;
}
/*********************footer1*/
.footer-1 {
    width: 100%;
    float: left;
    padding-top: 10px;
    padding: 30px 0 0;
    background-color:black;
    color:white;
    margin-top:20px;
    margin-bottom:90px;
}
.footer-1 .footer-1-link {
    width: 100%;
    float: left;
}
.footer-1 .footer-1-link .inner {
    width: 100%;
    float: left;
}
.footer-1 .footer-1-link .inner h4 {
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-1 .footer-1-link .inner ul li {
    width: 100%;
    float: left;
}
.footer-1 .footer-1-link .inner ul li a {
    font-family: "Roboto",sans-serif;
    text-decoration: none;
    font-size: 14px;
    color:white;
    position: relative;
    line-height: 28px;
}
.footer-1 ul {
    list-style: none outside;
}
.footer-1 .footer-1-link .inner ul {
    width: 100%;
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
/*************************/
.row .col{
    margin-top: 1px;
    background-color:#fff;
    margin-left:1px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;

}
.row .col:hover{
    border-right:black ;
    border-left: black;
    box-shadow: 0px 0px 10px 3px rgb(148, 142, 142);
}
.tragop{
    display: flex;
    position: relative;
    z-index: 5;
    margin-bottom: 5px;
    margin-top:5px;
    
}
.tragop .tragop0{
    background-color: #fbda03;
    color: #333;
    border-color: #fbda03;
    margin-right: 4px;
    font-size: 11px;
    line-height: 12px;
    padding: 3px 5px;
    border-radius: 4px;
    border: 1px solid;
}
.banchay{
    background-color: #fff;
    color: #eb5757;
    border-color: #eb5757;
    font-size: 11px;
    line-height: 12px;
    padding: 3px 5px;
    border-radius: 4px;
    border: 1px solid;
}
.carousel-item{
    width:100%;
    height:409px;
}
.quangcao{
    width:100%;
    height:409px;
}
.banchay-anh{
    position: relative;
    line-height: 0;
    display: block;
}
.anh1{
    display: flex;
    margin: 15px 0;
}
.anh1-img{
    height: unset;
    max-height: 287px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noidung1{
    margin-top:5px;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 61px;
    margin: 0;
    margin-right: 3px;
    width: 100%;
    font-size: 14px;
    font-style: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    line-height: 1.4em;
}
.noidung-sanpham a {
    text-decoration: none;
    color: #288ad6;
    
}
.noidung2{
    flex-wrap: wrap;
    margin-top: 5px;
}
.noidung2 span{
    margin-right: 5px;
    font-size: 12px;
    line-height: 14px;
    color: #666;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
    display: inline-block;
}
.noidung3{
    margin-top: 5px;
}
.noidung3 .strong1{
    color: #d12c1f;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.noidung3 .strong2{
    color: #333;
    display: inline-block;
    text-decoration: line-through;
    margin-top: 5px;
    font-weight: normal;
}
.noidung4{
    margin-top: 6px;
    font-size: 12px;
    padding: 12px 25px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
    position: relative;
    left: 30%;
    margin-bottom: 5px;
}
.noidung4:hover{
    border: 1px solid #333;
     background-color: #fff;
    color: #000;
}
/************/


footer{
    display: block;
}


.row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footer2 {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 10px;
  }
  .footer2 a {
    color: #f5f5f5;
  }
  .footer2 a:hover {
    color: #777;
    text-decoration: none;
  }  
.noidung11{
    margin-bottom:31px;
}
.text-uppercase{
    text-transform: uppercase!important;
}
.noidung11 b{
    font-size: 1rem;
    display: block;
    line-height: 1.3;
}
b{
    font-weight: 700;
}

/**************************************/

button, input {
    overflow: visible;
}
.footer__menu {
    font-size: 1rem;
    margin-top: 40px;
}
.footer__menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 40px;
}
.footer__menu ul li {
    padding: 4px 0;
}
/*****************************************************************/
input[type=email] {
    -webkit-appearance: none;
    box-sizing: border-box;
}
/**************/
.close{
    background-color: red;
     margin-right: 10px;
      color: black;
      text-align: left;
}
.form-left,.form-right{
    display: inline-block;
}
.form-left{
    width:50% ;
}
.form-right{
    width:49%
}
.modal-content{
    width:880px;
    height:538.250px;
    left:-30%;
}
.form-left img{
    margin-bottom: 300px;
    border: 1px solid rgb(151, 146, 146);
    padding: 3px;
}
.form-right input{
    width: 30px;
    text-align:center;
}
