/*@media (min-width:1200px){
.container {
    width:1170px;
}}
@media (min-width: 992px){
.container {
    width: 970px;
}}
@media (min-width: 768px){
.container {
    width: 750px;
}}
*/

@media (min-width:576px){
    .row .col{
        width:50% ;
    }
    .noidung-sanpham{
        
    }
    /*
    .carousel-item
    {
        height: 450px;
    }
    .quangcao{
        height: 500px;
    }*/
@media (min-width:768px){
    .row .col{
        width:20% ;
    }
    .anh1 img{
        width:100%;
    }
    .noidung4{
       left: 18%;
    }
}
@media (min-width:992px){
    .noidung4{
        left: 27%;
     }
}
@media (min-width:1200px){
    .row .col{
        width:50% ;
    }
}

/********menuuuuuuuuuu****/
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
}
@media screen and (max-width:576px){
    .carousel-item
    {
        width: 100%;
        height: 330px !important; 
         background-repeat:no-repeat;
         background-size: contain;
    }
    .quangcao{
        height: 340px;
        margin-top: -17px;
    }
    .footer-1{
        margin-bottom: 90px;
     }
}
@media screen and (max-width:768px){
    .carousel-item
    {
        width: 100%;
        height: 330px !important; 
         background-repeat:no-repeat;
         background-size: contain;
    }
    .quangcao{
        height: 340px;
        margin-top: -17px;
    }
    .footer-1{
        margin-bottom: 90px;
     }
}
@media screen and (max-width:992px){
    .carousel-item
    {
        width: 100%;
        height: 520px !important; 
         background-repeat:no-repeat;
         background-size: contain;
    }
    .footer-1{
        margin-bottom: 90px;
     }
    .noidungbia{
        width: 50%;
    }
    .quangcao{
        height: 520px;
        margin-top: -17px;
    }
}
@media (min-width:1200px)
{
  
    .col-lg-12 {
        width: 100%;
        float: left;
    }
}
@media (min-width:992px)
{
    .col-md-12 {
        width: 100%;
        float: left;
    }

}
@media (min-width:768px)
{
    .col-md-12 {
        width: 100%;
        float: left;
    }
}/******************************/
